absl-py==0.14.1
appnope==0.1.2
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attr==0.3.1
attrs==21.2.0
backcall==0.2.0
bleach==4.0.0
blessings==1.7
bpython==0.21
cachetools==4.2.4
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
clang==5.0
coverage==5.5
curtsies==0.3.5
cwcwidth==0.1.4
cycler==0.10.0
cyphypy==pre-alpha
Cython==0.29.24
d6tcollect==1.0.5
d6tflow==0.2.4
data-science-types==0.2.23
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
docutils==0.17.1
entrypoints==0.3
ffmpeg==1.4
flatbuffers==1.12
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
GPy==1.10.0
graphviz==0.16
greenlet==1.1.1
grpcio==1.41.0
h5py==3.1.0
hylaa==2.0
idna==3.2
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata==4.6.4
iniconfig==1.1.1
ipykernel==6.2.0
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.1
joblib==1.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.1
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.36.0
lockfile==0.12.2
luigi==3.0.3
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.10.0
marshmallow-enum==1.5.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mpmath==1.2.1
mypy==0.910
mypy-extensions==0.4.3
nb-conda-kernels==2.3.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.4
numba==0.53.1
numpy==1.19.5
oauthlib==3.1.1
onnxruntime==1.7.0
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.3
pandocfilters==1.4.3
paramz==0.9.5
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
Pint==0.17
pip==21.2.4
pluggy==0.13.1
prometheus-client==0.11.0
prompt-toolkit==3.0.17
protobuf==3.17.3
ptyprocess==0.7.0
py==1.10.0
pyarrow==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.1
pydot==1.4.1
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.3.0.dev353+g047c9603f
python-daemon==2.3.0
python-dateutil==2.8.2
pytz==2021.3
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.11.1
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.1
Send2Trash==1.5.0
setuptools==52.0.0.post20210125
six==1.15.0
sklearn==0.0
stringcase==1.2.0
swiglpk==5.0.3
sympy==1.9rc1
tabulate==0.8.9
tenacity==6.3.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.5.0
threadpoolctl==3.0.0
tml==pre-alpha
toml==0.10.2
tornado==6.1
tqdm==4.62.2
traitlets==5.0.5
typed-ast==1.4.2
types-setuptools==57.0.2
types-toml==0.1.5
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wheel==0.37.0
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.5.0
